<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<script type="text/javascript" th:fragment="javascript">
	
	 $(document).ready(function(){
		 
		 $('#buscar_producto').autocomplete({
			source: function(request, response){
				 console.log("terminal: " + request.term);
				 $.ajax({
					url: "/factura/cargar-productos/ " + request.term,
					 dataType: "json",
					 data:{term : request.term},
					 success: function(data){
						response($.map(data, function(item){
							 return{
								 value: item.id,
								 label: item.nombre,
								 precio: item.precio
							 };
						}));
					 },
				 });
			},
			     select : function(event, ui){
			    	//iteramos en todas las líneas de facturas y en caso de que exista el id, se incrementa la cantidad
					 //si no, se añade una nueva línea
					 console.log("id del producto  " + ui.item.value);
					 var idLocalizacion = itemsHelper.hasProducto("row_" + ui.item.value); //se añade el prefijo identificador de las filas
			    	
			    	if (idLocalizacion == -1){
			    		var linea = $('#plantillaItemsFactura').html(); 
						linea = linea.replace(/{ID}/g, ui.item.value);
					 	linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					 	linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					
					 	$('#cargarItemProductos tbody').append(linea); //añade la línea al cuerpo de la table tras selección
					 	itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);
					 	
					  }else{
						 //se elimina el prefijo "row_" del identificador
						 var id_sin_prefijo = idLocalizacion.split("_")[1];
						 console.log("id sin prefijo " + id_sin_prefijo);
			    		var cantidad_actual = $("#cantidad_" + id_sin_prefijo).val();
						 cantidad_actual++;
						 $("#cantidad_" + id_sin_prefijo).val(cantidad_actual);
						
			    	}
					 
			    	//actualiza el total de la factura: iterar sobre todas las filas y acumular los totales parciales
				 	$('#totalFacturaCell').html("<span>" + itemsHelper.calcularTotalFactura() + "</span>");
			    	return false;
				 	
			 }
		 });
		 
	 });				
	 
		 var itemsHelper = {
				 calcularImporte : function(id, precio, cantidad){
					 var total = parseFloat(precio) * parseInt(cantidad);
					 $('#total_importe_' + id).html(total.toFixed(2));
					//actualiza el total de la factura: iterar sobre todas las filas y acumular los totales parciales
					 	$('#totalFacturaCell').html("<span>" + itemsHelper.calcularTotalFactura() + "</span>");
				 },
				 hasProducto : function(id){
					 console.log("id entrada " + id);
					 var lineasProducto = $("#cargarItemProductos tbody").find("tr");
					 console.log("num filas " + lineasProducto.length);
					 if (lineasProducto.length >  0){
						 console.log("no es la primera entrada");
						 var id_localizado;
						 $.each(lineasProducto, function(index,value){
							 console.log("index " + index + ", value " + value);
							 console.log("id de la fila " + value.id);
							 if (id == value.id){
								 id_localizado = id;
							 }
						 });
						 if (id_localizado == undefined){
							id_localizado = -1;
						 }
						 console.log("id_localizado " + id_localizado);
						 return id_localizado;
					 }else{
						 console.log("primera entrada");
						 return -1;
					 } 
					 
				 },
				 eliminarLineaFactura: function(id){
					 console.log("se elimina la línea de factura de id " + id);
					 $("#row_" + id).remove();
					//actualiza el total de la factura: iterar sobre todas las filas y acumular los totales parciales
					 	$('#totalFacturaCell').html("<span>" + itemsHelper.calcularTotalFactura() + "</span>");
				 },
				 calcularTotalFactura : function(){
					 var lineasProducto = $("#cargarItemProductos tbody").find("tr");
					 var totalFactura = 0;
					 $.each(lineasProducto, function(index,value){ 
						 var id = value.id;
						 id = id.split("_");
						 id = id[1];
						 console.log("valor del importe parcial de la fila " + id + " " + $('#total_importe_' + id).text());
						 totalFactura += parseFloat($('#total_importe_' + id).text());
					});
					 totalFactura = totalFactura.toFixed(2);
					 console.log("el total de la factura " + totalFactura);
					 return totalFactura;
					 
				 },
				 eliminarPlantilla : function(){
					 $('#plantillaItemsFactura').remove();
				 }
				 
		 }
		
		 
	 
	</script>
</body>
</html>